:root {
    margin: 0;
    padding: o;

    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --background-color: #f5f5f5;
    --secondary-background-color: green;
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --font-size: 1rem;
    --nav-color: green;
    --gap: 3rem;
    --big-padding: 5rem;
    --small-padding: 2rem;
    --border-radius: 10px;
    --big-font-size: 2rem;
    --line-height: 1.5;
    --school-color: green;
    --box-shadow: 4px 4px 4px rgba(2, 24, 2, 0.1);
}


body {
    background-color: var(--background-color);
    color: var(--primary-color);
    box-sizing: border-box;
    font-family: var(--font-family);
}

h1, h2, h3, h4 {
    text-transform: capitalize;
    font-weight: bolder;
}

p {
    font-size: var(--font-size);
}


/* header */

.header {
    display: none;
    position: fixed;
    width: 100vw;
    background-color: var(--school-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: capitalize;
    padding: 1rem;
    height: 30px;
    color: var(--secondary-color);

}

header a, nav a {
    color: #fff;
}

/* nav bar design */



nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: capitalize;
    padding: 1rem;
    position: fixed;
    width: 100vw;
    background-color: var(--school-color);
    /* opacity: 1; */
    z-index: 5;
    top: 0;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
}


nav h2 {
    font-size: 30px;
    color: var(--secondary-color);
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    height: auto;
}

.links li {
    list-style: none;
    display: flex;
}

.links a {
    text-decoration: none;
    padding: 1rem;
    text-transform: capitalize;
    color: var(--secondary-color);
    cursor: pointer;
}
ul.show {
    display: block;
}

.nav-icon  {

    height: 30px;
    padding: 6px;
    border-radius: 5px;

}

.hamburger {
    display: none;
    background: transparent;
    border: none;
    color: #fff;
}

/* end of nav bar */

/* logo image */
.logo-image {
    height: 50px;
    border-radius: 10px;

}



a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* hero banner design */

.hero {
    /* background: url('./images/afra.png'); */
    background: lightblue;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-transform: var(--text-transform);
}



/* intro design */



.intro {
    /* background-color: aquamarine; */
    /* grid-column: 2/7; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: var(--small-padding);

}

.sub-intro {

    padding-top: var(--small-padding);
    min-height: 70vh;
    width: 60vw;
}

.intro-heading {
    font-size: var(--big-font-size);
    color: var(--school-color);
}



/* info design */

.info {
    background-color: green;

    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info h1 {

    font-size: var(--big-font-size);
    color: var(--secondary-color);
}

.card, .more-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
    padding: var(--small-padding);
    flex-wrap: wrap;

}

.card-item {

    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 250px;
    height: 200px;
    background: lightskyblue;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: var(--border-radius);
    padding: var(--small-padding);
    text-transform: capitalize;
    font-weight: bolder;
    font-size: var(--big-font-size);
    color: var(--secondary-color);
    /* box-shadow: var(--box-shadow); */
}

/* .kindergarten {
    background: url(./images/background.jpg);
}

.primary {
    background: url(./images/background.jpg);
}

.high-school {
    background: url(./images/background.jpg);
} */

/* end of info design */

/* more info design */

.more-info {

    min-height: 70vh;

}

.additional {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--gap);
    width: 60vw;

}

.additional img {

    border-radius: var(--border-radius);
}

.additional-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* end of more info design */

/* button container style */

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}

.btn {
    font-size: var(--big-font-size);
    padding: 0.8rem;
    background-color: var(--school-color);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.btn a {
    color: #fff;
}

.btn:hover {
    opacity: 0.7;
}

/* footer css */

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    min-height: 70vh;
    text-transform: capitalize;
    width: 100vw;
    margin-top: 3rem;
}

.footer-info {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: var(--gap);
    padding: var(--small-padding);
    flex-wrap: wrap;

}

.footer-heading {
    text-transform: uppercase;
    font-size: 1.4rem;
    text-align: center;
}


.footer-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size);
    line-height: var(--line-height);
}

.footer-links {
    list-style-type: none;
}

footer img {
    height: 100px;
}

footer a {
    color: var(--secondary-color);
    text-align: left;
}


.footer-socials, .socials {
    border-radius: 50%;
    padding-bottom: 3rem;
    display: flex;
    gap: 0.8rem;
}

/* social media links styles */

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    display: flex;
    gap: 1rem;
}

.facebook-icon, .twitter-icon, .instagram-icon  {
    height: 20px;
    padding: 6px;
    border-radius: 5px;
}

.facebook-icon {
    background-color: white;
}

.twitter-icon {
    background-color: aqua;
}

.instagram-icon {
    background-color: lightcoral;
}


/* end of footer styling */


/* admmision style */


.admision-requirement li {
    list-style-type: circle;
    font-size: var(--font-size);
    line-height: var(--line-height);
}

.admision-requirement ol > li {
    list-style-type: decimal;
}

.admision-requirement ol > li > ul > li {
    list-style-type: circle;
}


/* contact */

.my-form {

    padding-top: var(--small-padding);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.contact-intro {
    padding-top: var(--big-padding);
}

.additional-text li {
    list-style-type: none;
    font-size: var(--font-size);
    line-height: var(--line-height);
}

.show-links {
    height: 10rem;
    }

/* tablet view */

@media (max-width: 1000px) {

    header {
        display: block;

    }


    nav {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        top: 55px;
   }


   nav h2 {
        font-size: 20px;

        display: none;
   }

   .links {
        display: none;
        font-size: 18px;
        padding: 0.5rem;
        height: auto;
   }

   .links li {
        margin-bottom: 0.5rem;
   }

   .hamburger {
        display: block;
        border: none;
        background: transparent;
        font-size: 30px;
        /* align-self: center; */
   }

   .sub-intro {
    min-height: 50vh;
}

}



/* mobile view style */

@media (max-width: 600px) {

    :root {
        --big-font-size: 1.5rem;
    }

    .additional img {
        max-width: 300px;
    }

    .footer-info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.8rem;
        padding: 1rem;
    }

    h1 {
        font-size: var(--big-font-size);
    }

    .my-form {
        width: 100vw;
    }

    .sub-intro {
        width: 80vw;
    }

    .info {
        width: 100vw;
    }

    .google-map, .google-form {
        max-width: 360px;
    }


}


@media (max-width: 290px) {



    .card-item {
        width: 200px;
        font-size: var(--font-size);
    }

    .additional img {
        max-width: 250px;
    }

}
